body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100rw;
  height: 100rh;
  font-family: 'Gowun Batang', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.post--title, .post--content {
  margin: 1em;
}

/* .delete-btn {
  text-align: right;
} */