body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100rw;
  height: 100rh;
  font-family: 'Gowun Batang', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.post--wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1em 0 3em 0;
  border-radius: 10px;
  background-color: #f7d5e3a5;
}

.info--btn--container {
  margin-bottom: 1em;
}

.author {
  margin: 0 1em 0 20px;
  color: #243D25;
  font-weight: 700;
  font-size: 1em;
}

.date {
  margin-right: 1em;
  font-size: 1em;
  font-weight: 700;
}

.post--title, .post--content {
  margin: 20px;
}

.post--title {
  font-size: 1.5em;
  font-weight: bold;
}
